header {
  background-color: #4831d4;
  color: #27e8b1;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
}

.Lucas {
  color: #fff;
  font-size: 3em;
  font-weight: 800;
}

nav {
  background-color: #333;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  margin: 0 15px;
  display: inline-block;
}

nav ul li a {
  display: block;
  color: #27e8b1;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  background-color: #333;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #4831d4;
  border-radius: 4px;
}

section {
  padding: 20px;
  background-color: #f0f4f8;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2,
h1 {
  border-bottom: 2px solid #4831d4; /* Azul intenso */
  padding-bottom: 10px;
  color: #4831d4; /* Azul intenso */
  transition: color 0.3s;
}

h2:hover {
  color: #27e8b1; /* Verde intenso */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

thead th {
  background-color: #e2e2e2;
}

tbody tr:nth-child(even) {
  background-color: #e2e2e2;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lista-cursos li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lista-cursos li span {
  display: block;
  text-align: center;
}

.lista-cursos .titulo-curso {
  font-weight: bold;
}

.lista-cursos .instituicao {
  font-style: italic;
  color: #777;
}

.lista-cursos .situacao {
  color: #27e8b1;
}

/* Estilo para a tabela de habilidades */
.grid-habilidades {
  width: 100%;
}

.grid-habilidades td {
  vertical-align: top;
  padding: 20px;
  transition: background-color 0.3s; /* Adiciona transição suave de cor ao passar o mouse */
}

/* Estilo para as células da tabela */
.grid-habilidades ul li {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9; /* Fundo branco */
  transition: background-color 0.3s; /* Adiciona transição suave de cor ao passar o mouse */
}

/* Cores de fundo diferentes para cada célula */
.grid-habilidades td:nth-child(1) ul li:nth-child(odd) {
  background-color: #e6f7ff; /* Cor de fundo azul claro para habilidades de design */
}

.grid-habilidades td:nth-child(2) ul li:nth-child(odd) {
  background-color: #e0f2f1; /* Cor de fundo verde claro para habilidades de programação */
}

.grid-habilidades td:nth-child(3) ul li:nth-child(odd) {
  background-color: #e6f7ff; /* Cor de fundo azul claro para outras habilidades */
}

/* Efeito ao passar o mouse sobre as células da tabela */
.grid-habilidades td ul li:hover {
  background-color: #27e8b1; /* Altera a cor de fundo ao passar o mouse para verde intenso */
  color: #000; /* Altera a cor do texto para branco ao passar o mouse */
}

/* Estilo para o título "Outras Habilidades" */
.grid-habilidades h3 {
  border-bottom: 2px solid #4831d4; /* Linha inferior azul intenso */
  padding-bottom: 10px;
  color: #4831d4; /* Texto azul intenso */
  transition: color 0.3s; /* Adiciona transição suave de cor ao passar o mouse */
}

/* Efeito ao passar o mouse sobre o título "Outras Habilidades" */
.grid-habilidades h3:hover {
  color: #4caf50; /* Altera a cor do texto para verde intenso ao passar o mouse */
}
