.home-background {
  display: flex;
  height: auto;
  flex-direction: column; /* Alinha os filhos verticalmente */
  margin-top: 2em;
}

/*-------------------------------------------PRIMEIRA PARTE----------------------------------------------------------------*/

.home-cima {
  display: flex;
  width: inherit;
  max-height: auto;
  min-height: 95vh;
  background: linear-gradient(90deg, #4831d4 80%, #27e8b1 50%);
  overflow: hidden;
  border-radius: 0em 3em 0.8em 3em; /* Bordas arredondadas */
}

/*Parte de cima do Topo*/
.home-titulos {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-titulos-principal {
  flex: 1;
}

.home-titulos-principalh1 {
  font-weight: 900;
  font-size: 3.7em;
  font-weight: 800;
  margin-top: 0.9em; /* Remove a margem para alinhamento mais preciso */
  margin-left: 1em;
  color: #27e8b1;
  text-align: left;
  text-shadow: 0.3em 0.1em 0.3em black;
}

.principal {
  font-size: 5rem;
}

.home-titulos-principalp {
  font-weight: 500;
  font-size: 1.1em;
  margin-top: 1em; /* Remove a margem para alinhamento mais preciso */
  margin-left: 4em;
  color: white;
}
/*Parte de baixo do Topo*/
.home-titulos-secundarios {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: end;
  margin: 1em 2em 0;
}

.home-titulos-FD,
.home-titulos-HE {
  flex: 1;
  margin: 2em;
}

.home-titulo-auxh3 {
  text-shadow: 0.1em 0.1em 0.1em black;
  margin-bottom: 1em;
  font-weight: 500;
  color: #27e8b1;
  font-size: 0.9em;
}
.home-titulo-auxp {
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
}

/*Parte da Foto do Topo*/

.home-foto {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5em;
}
/*Foto do perfil*/
.home-perfil {
  background: url("/public/img/perfil.png") no-repeat center center; /* Define a imagem de fundo */
  background-size: cover; /* Ajusta o tamanho da imagem */
  width: 20vw; /* Ajuste conforme necessário */
  height: 40vh; /* Ajuste conforme necessário */
}
/*-------------------------------------------SEGUNDA PARTE----------------------------------------------------------------*/

.home-info-fundo {
  min-height: auto;
  width: inherit;
  background-image: url("/public/img/dev-design.png");
  background-repeat: repeat-y;
  background-size: contain;
  display: flex;
  flex-direction: column;
}

.home-info {
  flex: 1;
  display: flex;
  width: 100%; /* Use 100% em vez de inherit */
  height: 70vh;
  margin: 0;
  padding: 0;
}

.home-info1,
.home-info2 {
  flex: 1;
  margin: 5em 3em 0 3em;
}

.home-info2 {
  text-align: right;
}

.home-infoh2 {
  color: #4831d4;
  font-size: 4em;
  font-weight: 900;
}

.home-infop {
  color: #030303;
  font-size: 1.5em;
  font-weight: 500;
}

/*-------------------------------------------TERCEIRA PARTE----------------------------------------------------------------*/

.home-formacao {
  display: flex;
  flex-direction: row;
  min-height: auto;
  background-color: #4831d4;
  border-radius: 0.8em 3em 0.8em 3em; /* Bordas arredondadas */
}

.home-formacao-texto,
.home-formacao-imagem {
  flex: 1;
  margin: 0.2em;
}

.home-formacaoh1 {
  color: #27e8b1;
  text-align: center;
  text-shadow: 0.3em 0.1em 0.3em black;
  font-size: 4.6em;
  font-weight: 900;
  margin-bottom: 1em;
}

.home-formacaop {
  color: white;
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 1em;
  margin-left: 1em;
}

.home-formacao-imagem {
  height: inherit;
  background-image: url("/public/img/estudo.png");
  background-size: contain; /* Ajustado para cobrir todo o contêiner */
  background-repeat: no-repeat;
  background-position: center; /* Centraliza a imagem no contêiner */
}

/*-------------------------------------------QUARTA PARTE----------------------------------------------------------------*/

.home-link {
  display: flex;
  min-height: 50vh;
  margin-top: 1em;
}
.home-link-esquerdo,
.home-link-direito {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home-link-textos {
  flex: 1;
  margin: 1em;
}

.home-linkh1 {
  color: #4831d4;
  font-size: 2.5em;
  font-weight: 900;
  margin-left: 2em;
  margin-bottom: 1em;
}

.home-linkp {
  color: black;
  font-size: 1.5em;
  font-weight: 500;
  width: 50%;
  margin-left: 3.5em;
}

/*------------------------------------------- COMEÇA OS BOTÕES ----------------------------------------------------------------*/
.home-link-btn {
  flex: 1;
  margin: 1em;
}

.home-linkbtn {
  position: relative;
  margin: 2em 4em;
  width: 10em;
  height: 2em;
  border-radius: 0.3em;
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  display: block;
  background: linear-gradient(90deg, #d40759, #e3312d);
  color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.4s;
  border-radius: 0.2em 2em 0.2em 2em; /* Bordas arredondadas */
}

/* Efeito Gradiente em Movimento */
.home-linkbtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 300%;
  height: 100%;
  background-color: #4831d4; /* Cor sólida */
  transition: left 0.4s;
  z-index: 0;
}

/* Efeito ao passar o mouse */
.home-linkbtn:hover::after {
  left: 100%;
}

/* Ajuste do texto do botão para garantir que fique sobre o efeito gradiente */
.home-linkbtn span {
  position: relative;
  z-index: 1;
}

/*-------------------------------------------COMEÇA A BARRA DE SEPARAÇÃO----------------------------------------------------------------*/
.home-link-meio {
  flex: 0.01;
  margin-top: 2em;
  min-width: 0.01vw;
  height: 80vh;
  background: linear-gradient(90deg, #d40759, #e3312d);
}
