.menu-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  z-index: 1000;
}

.logo-container {
  position: relative;
  display: inline-block;
}

.logo-principal {
  max-height: 3em;
  max-width: 15em;
  display: block;
  transition: opacity 0.3s ease;
}

.logo-alternativa {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 3em;
  max-width: 15em;
  display: none;
  transition: opacity 0.3s ease;
}

.logo-container:hover .logo-alternativa {
  display: block;
}

.logo-container:hover .logo-principal {
  opacity: 0;
}

.menu-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1001; /* Garante que o botão fique acima do menu */
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 2em;
  height: 1.5em;
  position: relative;
}

.hamburger span {
  width: 100%;
  height: 0.25em;
  background: #d40759;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu {
  position: fixed;
  top: 4em;
  right: -100%;
  width: 75vw;
  max-width: 255px;
  height: 70vh;
  background-color: rgba(227, 244, 255, 0.8);
  backdrop-filter: blur(0.1em);
  border-radius: 1em 3em 1em 3em; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: right 0.5s ease-in-out; /* Transição mais suave */
  z-index: 999;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu.open {
  right: 0;
}

.menu-link {
  margin-top: 2em;
  font-size: 1.5rem;
}

.menu-link-texto {
  color: black;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.menu-link-icone {
  margin-right: 0.5em;
  color: #d40759;
}
